article, aside, figcaption, figure, footer,
header, main, nav, section {
    display: block;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
small {
    font-size: 80%;
}
img {
    border: 0;
}

div { /* 包含块 */
    background: khaki; /* tan */
}
p,
.second {
    background: white;
    border: 3px solid royalblue;
    margin: 10px;
    padding: 8px;
}
.second { /* 第二个段落 */
    border-color: orangered;
    width: 200px;
}

.nav-main {
    /* 绿色 */
    border-top: 5px solid #019443;
    /* 灰色 */
    border-bottom: 1px solid #c8c8c8;
    padding: .45em 0 .5em;
}

.nav-main li {
    /*给元素添加左边的边框*/
    border-left: 1px solid #c8c8c8;
    display: inline-block;
}
.nav-main li:first-child {
    border-left: none;
}

.nav-main a {
    color: #292929;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125em; /* 18px/16px */
    font-weight: 700;
    padding: .5em 1.15em .5em 1.4em;
    text-transform: uppercase;
}

.about img {
    border: 5px solid #bebebe;
}

.about h2,
.mod h2 {
    font-size: 0.875em;
}

.about h2,
.mod h2,
.nav-main a {
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.mod h2 {
    /*h2底部添加1像素的实线边框*/
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 0.75em;
}

.footer p {
    font-size: .6875em;
}

.post-footer {
    border-bottom: 1px solid #dbdbdb;
    border-top:1px solid #dbdbdb;
    padding-bottom:.7em;
    padding-top: 0.7em;
    clear:left;
}


.ddd {
    border-width: 4px;
    /*每个border属性都接受四个值，详细规则见p220*/
    border-style: dotted dashed double;
}
.ridge {
    border-style: ridge;
    border-color: orange;
}
.groove {
    border-style: groove;
    border-color: purple;
}
.inset {
    border-style: inset;
    border-color: blue;
}
.outset {
    border-style: outset;
    border-color: green;
}

h1 {
    color: #212121;
    font-family: "Lato", sans-serif;
    font-size: 3.25em; /* 36px/16px */
    font-weight: 300;
    letter-spacing: -2px;
    line-height: .975;
    margin-bottom: .4125em; /* 21.45px */
}

.map {
    /*给元素添加外边距*/
    margin: 1.4375em 0 .8125em;
    /* 23px 0 13px */
}
.links {
    margin: 1.5em 0 4.125em;
    /* 24px 0 66px */
    padding: 0;
}
.links li {
    /*底部添加外边距*/
    margin-bottom: 1.1em;
}

.post-photo {
    float: left;
    margin-bottom: 2px;
    margin-right: 22px;
}

main {
    float: left;
    width: 600px;
}

.sidebar {
    float: right;
    margin-top: 1.875em;
    width: 300px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.container {
    background: url("./img/bg.png") repeat-y 629px 0;
    padding-bottom: 1.9375em;
}

/*设置标签名称为footer 且属性role值为contentinfo的元素样式*/
footer[role="contentinfo"] {
    border-top: 1px solid #cacbcb;
}

.masthead {
    position: relative;
}

.masthead .social-sites {
    position: absolute;
    top: 41px;
    right: 0;
}

/*设置页面大小的基数 max-width*/
.page {
    max-width: 960px;
}
/*根据基数计算大小*/
main {
    /* 要求宽度/包含块宽度使用600px/960px */
    width: 62.5%;
}
.sidebar {
    width: 31.25%; /* 300px/960px */
}