<html>
<head>
    <title>Notebook</title>
    <!-- Icons & Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<!-- Include the library in the page -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--添加maked库-->
<script src="https://unpkg.com/marked"></script>

<!-- Notebook app -->
<div id="notebook">
<!--    侧边栏-->
    <aside class="side-bar">
        <div class="toolbar">
<!--            添加笔记按钮-->
            <button @click="addNote" v-bind:title="addButtonTitle"><i class="material-icons">add</i>Add note</button>
        </div>
        <!--        这里将是笔记列表-->
        <div class="notes">
<!--      {selected: note === selectedNote} 将selected类动态应用在选中的node节点上      -->
            <div class="note" v-for="note of notes" :class="{selected: note === selectedNote}"
             @click="selectNote(note)"> {{note.title}}</div>
        </div>
    </aside>
    <!-- Main pane -->
<!--可以将重复的v-if放入<template>里面-->
    <template v-if="selectedNote">
        <!--    <section> 是HTML5中的新标签，
        标签定义文档中的节（section、区段）。
        比如章节、页眉、页脚或文档中的其他部分。-->
        <section class="main">
    <!--        <textarea> 标签定义多行的文本输入控件。-->
            <textarea v-model="selectedNote.content"></textarea>
        </section>

        <!-- Preview pane -->
    <!--    被包含在article元素中作为主要内容的附属信息部分-->
        <aside class="preview" v-html="notePreview">
        </aside>
    </template>

</div>

<!-- Some JavaScript -->
<script>
    const html = marked('**Bold** *Italic* [link] (http://vuejs.org/)')
    console.log (html)
    new Vue({
        el: '#notebook',
        data() {
            return{
                // 新的一个笔记本组
                notes:JSON.parse(localStorage.getItem("notes")) || [],
                selectedId:null
            }
        },
        created(){
          this.content=localStorage.getItem("content") || 'You can write in ** markdown **'
        },
        // 计算属性声明都在computed里面
        computed:{
            selectedNote() {
                return this.notes.find(note =>note.id === this.selectedId)
            },
            notePreview() {
                return marked(this.content)
            },
            addButtonTitle() {
                return this.notes.length + 'note(s) already'
            },
        },
        //监听某一些事件，此处为监听content内容是否变化，一旦变化就会执行saveNote
        watch:{
            notes: {
                handler:"saveNotes",
                deep:true,
            },
        },
        //可以复用的函数
        methods: {
            //添加笔记
            addNote () {
                const time=Date.now()
                const note= {
                    id: String(time),
                    title: 'New note ' + (this.notes.length + 1),
                    content: '** Hi!** This notebook is using [markdown](https://github.com/adam-p/' +
                        'markdown-here/wiki/Markdown-Cheatsheet) for formatting!',
                    created: time,
                    favorite: false,
                }
                this.notes.push(note)
                this.selectNote(note)
            },

            selectNote (note) {
                this.selectedId = note.id
            },
            reportOperation(){
                console.log("The ",this.content,"operation was completed")
            },
            saveNotes() {
                localStorage.setItem("notes",JSON.stringify(this.notes))
                console.log("Notes saved!",new Date())
            },
        },
    })
</script>
</body>
</html>
